* {
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}

body {
    background-color: #fff8e7;
}

p {
    padding: 10px;
    color: #353535;
}

a, a:focus, a:active {
    color: inherit;
    text-decoration: none !important;
}

a:hover {
    color: #51414F;
    text-decoration: none; 
    cursor: pointer;  
}

.header {
    height: 150px;
    padding: 10px;
    background-color: #ebcfa3;
    font-size: 25px;
    text-align: center;
    justify-content: space-evenly;
}

.nav {
    padding: 5px;
    justify-content: space-evenly;
}

.button {
    padding: 15px;
    margin: 10px;
    border: 1px;
    border-radius: 15px;
    background-color: #ebcfa3;
    color: #353535;
    font-size: 18px;
    cursor: pointer;
}

.button:hover {
    background-color: #e1b674;
}

.overlay {
    background: #fff;
    align-self: center;
    transition: all 1s;
    position: relative;
    visibility: hidden;
    opacity: 0;

    .cancel {
        position: absolute;
        width: 20%;
        height: 20%;
        cursor: default;
    }

    &:target {
        visibility: visible;
        opacity: 1;
    }
}

.popup {
    width: 500px;
    height: 300px;
    padding: 20px;
    border-radius: 25px;
    top: 40%;
    left: 33%;
    font-size: 18px;
    align-content: center;
    background: #c6ac82;
    opacity: 95%;
    position: absolute;
}

.close {
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
    color: #353535;
    position: absolute;
    opacity: 0.8;
    transition: all 200ms;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.sobremi {
    column-count: 2;
}

.sobremiimg {
    display: grid;
    justify-content: center;
}

.sobremicontent {
    padding: 10px;
    display: grid;
    justify-content: center;
    text-align: center;
}

.proyecto {
    column-count: 2;
}

.proyectoimg {
    margin-top: 50px;
    display: grid;
    justify-content: center;
}

.proyectocontent {
    padding: 10px;
    display: grid;
    justify-content: center;
    text-align: center;
}

.redesicons {
    padding: 20px;
    text-decoration: none;
}

.homepage {
    column-count: 3;
}

.spotify {
    padding: 10px;
}

.todolist {
    padding: 10px;
    height: 500px;
    h3 {
        font-size: 30px;
    }
}

.linksutiles {
    padding: 15px;
    height: 500px;
}

.checkboxes {
    padding: 10px;
    font-size: 18px;
    color: #353535
}

input[type="checkbox"]:checked + label {
    text-decoration: line-through;
}

.linksutiles {
    ul {
        padding: 5px;
    }
}