* {
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}

body {
    background-color: #fff8e7;
}

p {
    padding: 10px;
    color: #353535;
}

.header {
    background-color: #ebcfa3;
    height: 150px;
    font-size: 25px;
    justify-content: space-evenly;
    text-align: center;
    padding: 10px;
}

.nav {
    justify-content: space-evenly;
    padding: 5px;
}

.button {
    background-color: #ebcfa3;
    color: #353535;
    padding: 15px;
    margin: 10px;
    border: 1px;
    border-radius: 15px;
    font-size: 18px;
    cursor: pointer;
}

.button:hover {
    background-color: #e1b674;
}

.overlay {
    background: #fff;
    transition: all 1s;
    position: relative;
    visibility: hidden;
    opacity: 0;
    align-self: center;

    .cancel {
        position: absolute;
        width: 20%;
        height: 20%;
        cursor: default;
    }

    &:target {
        visibility: visible;
        opacity: 1;
    }
}

.popup {
    align-content: center;
    padding: 20px;
    background: #c6ac82;
    opacity: 90%;
    width: 500px;
    height: 300px;
    position: absolute;
    border-radius: 25px;
    font-size: 18px;
    top: 40%;
    left: 33%;
}

.close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
    opacity: 0.8;
    transition: all 200ms;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #353535;
}

.sobremi {
    column-count: 2;
}

.sobremiimg {
    display: grid;
    justify-content: center;
}

.sobremicontent {
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.proyecto {
    column-count: 2;
}

.proyectoimg {
    display: grid;
    justify-content: center;
    margin-top: 50px;
}

.proyectocontent {
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.redesicons {
    padding: 20px;
    text-decoration: none;
}

.homepage {
    column-count: 3;
}

.spotify {
    padding: 10px;
}

.todolist {
    padding: 10px;
    h3 {
        font-size: 30px;
    }
    height: 500px;
}

.linksutiles {
    column-count: 2;
    padding: 10px;
    h3 {
        font-size: 30px;
    }
    height: 500px;
}

.checkboxes {
    padding: 10px;
    font-size: 18px;
    color: #353535
}

input[type="checkbox"]:checked + label {
    text-decoration: line-through;
}